div#map-canvas
div#maps
 form#maps-input
      input.form-control(type="text", id="longitude", placeholder="longitude", autofocus)
      input.form-control(type="text", id="latitude", placeholder="latitude")
      button#btnSubmit.btn-danger(type="submit") Set marker